body {
    background-color: #F2EFEA;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite; /* Slowed down animation */
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}

.nav-link {
    color: #112D4E;
    font-size: 1.2rem;
    font-weight: 600;
    background-image: linear-gradient(45deg, #c93e8f, #5a5bbf, #1a8b9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 3.5rem;
    position: relative;
    top: 5px;
    
}
#home{
    height: 100vh;
}
.brand {
    color: #112D4E;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    background-image: linear-gradient(45deg, #c93e8f, #5a5bbf, #1a8b9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Quizzify{
    font-size: 3rem;
    font-weight: bold;
    background-image: linear-gradient(45deg, #ff6ec4, #7873f5, #32b8da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.brand:hover, .nav-link{
    background-image: linear-gradient(45deg, #b32578, #4647ad, #137b8b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-text > h1 {
    margin-bottom: 1.8rem;
    color: #112D4E;
}
.home-text > p{
    font-weight: normal;
    color: #112D4E;
}
.home-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img{
    width: 60%;
    position: relative;
    left: 5%;
}
.home-buttons a {
    text-decoration: none;
    color: #111;
}
.button-56 {
  align-items: center;
  background-color: #f7cf4d;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
    display: inline-block;
}

.button-56:active {
    background-color: #ffdeda;
    display: inline-block;
    outline: 0;
}

.button-56:hover {
    outline: 0;
    display: inline-block;
}

.home-buttons {
    display: inline-block;
    width: 100%;
}


@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

#Features{
    height: 100vh;
    background-color: #FDF6EE;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About */
#About{
    background-color: #F2EFEA;
}

.about{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-rows: 100%;
    line-height: 2;
    font-weight: 600;
}

.main-about{
    color: #000000;
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    padding: 4% 5%;
}

.about-img{
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img > img {
    width: 75%;
}

.text-about h2{
    font-weight: bold;
}
@media (max-width: 868px) {
    #home{
        height: fit-content;
        margin: 0 5%;
    }
    .home-img{
        display: none;
    }
    .home-buttons{
        margin-top: 1.2rem;
    }
    .home-text >  h1{
        margin-bottom: 1rem;
    }
    .home-text > p {
        opacity: 80%;
    }
    .home-container{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Features{
        height: fit-content;
    }
    /* about */
    .about{
        height: 60vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #F2EFEA;
        grid-template-rows: 100%;
    }

    .main-about{
        order: 2;
        color: #112D4E;
        grid-column: span 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
    }
    
    .about-img{
        order: 1;
        grid-column:  1 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img > img {
        width: 100%;
    }
    .think, .point-2{
        display: none;
    }
    .brand{
        padding-left: 10px;
    }
}

@media (min-width: 868px) and (max-width: 992px){
    #home{
        margin: 0 5%;
    }
    #Features{
        height: fit-content;
    }
    .home-container{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about{
        padding-top: 80px;
    }
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
/* Thank you page */

.thank-you{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(87, 87, 87);
    text-align: center;
}
.thank-you h2{
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
}
.thank-you p{
    font-size: 1rem;
}
.thank-gif{
    margin-top: 30px;
    margin-bottom: 50px;
}

@media (min-width: 303px) and (max-width: 980px){
    .thank-you{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(87, 87, 87);
        text-align: center;
        overflow: hidden;
    }
    .thank-you h2{
        color: black;
        font-size: 2rem;
    }
    .thank-you p{
        font-size: 1rem;
    }
}
/* signup */

.form-sl{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ls-page{
    height: 100vh;
}

.ls-card{
    height: 100vh;
    background-color: #F2EFEA;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ls-items{
    padding: 80px 70px 78px;
    border-radius: 10px;
    background-color: #FFFFFF;
    backdrop-filter: blur(80px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    color: black;
    height: auto;
    text-align: center;
    width: fit-content;
    position: relative;
    z-index: 1;
}
.log-in{
    padding: 80px 40px 78px;
}
.think{
    position: absolute;
    right:99%;
    top: -9%;
    z-index: -1;
}
.point-2{
    height: 63%;
    position: absolute;
    top: 37%;
    right: -77%;
}
.pointing{
    height: 85%;
    position: absolute;
    top: 3%;
    right: 71.1%;
    pointer-events: none;
}
.ls-items p{
    margin: 0;
    padding: 0;
}
.info{
    position: relative;
    bottom: 20px;
    font-size: .8rem;
    color: #333A4D;;
    font-weight: 500;
}
.ls-items a{
    position: relative;
    font-size: 2.4rem;
    bottom: 30px;
}
.ls-input{
    width: 18rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 15px;
    border: 2px solid #FAA21C;
    padding: 5px;
    margin: 6px 0;
    size: 40;
}
.ls-input:focus{
    background-color: rgba(255, 255, 255, 0.295);
    border: 2px solid #026b64;
    outline: none;
}
.ls-form{
    margin-top: 20px;
}

/* ls button css */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 18rem;
  margin-top: 13%;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 15px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 15px;
}

@media (max-width: 868px){
    .ls-items{
        width: fit-content;
    }
    .ls-input{
        width: 18rem;
        border: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgba(255, 255, 255, 0.205);
        border-radius: 15px;
        border: 2px solid #00000070;
        padding: 5px;
        margin: 4px 0;
        size: 40;
    }
}

.sign-div > p{
    color: #333A4D;
    opacity: 80;
    margin-top: 5px;
}
.sign-div > a{
    bottom: 50px;
}
.flash{
    text-align: center;
    font-weight: 400;
    color: tomato !important;
    position: relative;
    margin: 0;
    top: 35px;
}
.sign-div .flash{
    position: absolute;
    text-align: center;
    top: 535px;
    right: 0px;
    width: 100%;
}

.log-in .flash{
    position: absolute;
    top: 390px;
    right: 0px;
    width: 100%;
}
/* Dashboard Page */


.db-home{
    height: 90vh;
}
.db-intro{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.db-home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #4C2F41;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 600;
    height: 100%;
}
.db-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.db-img img{
    width: 120%;
}
.db-home-text h2{
    font-size: 3rem;
    font-weight: 600;
    color: #FD699B;
    margin-bottom: 4%;
}


/* CSS For the button in the dashboard*/
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 2rem;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background: none;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background-color: rgb(5, 6, 45);
  }

  .db-home-text a{
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  

@media (min-width: 533px) and (max-width: 980px){
    .db-intro{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .db-brain{
        width:80%;
        margin: 0;
    }
    .db-img{
        width: fit-content;
        display: flex;
        justify-content: center;
    }
    .db-home-text{
        margin-top: 10%;
    }
    .db-home-text h2{
        font-size: 2rem;
        font-weight: 600;
        color: #FD699B;
        margin-bottom: 6%;
    }
    .db-home-text, .db-home-img{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #112D4E;
        flex-wrap: wrap;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.7;
    }
    
}
@media (max-width: 533px){
    .db-body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .db-intro{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .db-brain{
        width:80%;
    }
    .db-img{
        width: fit-content;
        display: flex;
        justify-content: center;
    }
    .db-home-text{
        margin-top: 10%;
    }
    .db-home-text h2{
        font-size: 2rem;
        font-weight: 600;
        color: #FD699B;
        margin-bottom: 6%;
    }
    .db-home-text p{
        font-size: 1rem;
    }
    .db-home-text, .db-home-img{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #112D4E;
        flex-wrap: wrap;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2;
    }
}

/* Category Page */

.finish{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.category{
    height: max-content;
    width: 100%;
}
.category h3{
    color: #2B2D42;
    padding-top: 25px;
    padding-left: 10px;
}
.category-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 45px;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5%;
    text-decoration: none;
}
.category-link{
    text-decoration: none;
    order: 99;
}
.category-item{
    height: 230px;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2B2D42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    min-width: 320px;
}
.book-gif{
    display: none;
    order: 4;
    width: 320px;
}
@media (min-width: 1200){
    .book-gif{
        display: none;
    }
}
.delete-button{
    color: red;
    font-size: 1rem;
    text-decoration: none;
    line-height: 0;
}
@media (max-width: 768px){
    .category h3{
        padding-top: 25px;
        padding-bottom: 40px;
        text-align: center;
    }
    .category-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        gap: 35px;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 5%;
        text-decoration: none;
        padding-bottom: 50px;
    }
    .category-item{
        height: 100px;
        border-radius: 16px;
        font-size: .5rem;
        font-weight: 600;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }
}
.button-86 {
    all: unset;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    background: transparent;
    border: none;
    position: relative;
    color: #37326b;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(144deg, #f0e6d5, #F9A8D4 50%, #6b5fd4 90%);
    border-radius: 10px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button-86:hover::before {
    transform: translate(4.2%, 10%);
    width: 110%;
    height: 110%;
    background-image: linear-gradient(144deg, #f0e6d5, #F9A8D4 50%, #6b5fd4 90%);
}
  
  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }

  /* manage page */

.manage-brand{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    background-image: linear-gradient(45deg, #c93e8f, #5a5bbf, #1a8b9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ac-page{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ac-card{
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ec-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ec-items{
    line-height: 2;
    font-size: 1rem;
    background-color: #F8F9FA;
    backdrop-filter: blur(80px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
}

/* question display page */

.questions-body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

/* quiz page */

.quiz-nav{
    display: flex;
    justify-content: space-between;
}
.quiz-nav p{
    font-weight: 600;
    font-size: 1.6rem;
    color: #6666CD;
    margin-top: 19.5px;
}

/* ready page */
.qs-div{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}
.guidelines{
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    padding: 20px 20px;
    font-weight: 400;
    order: -1;
    text-align: center;
    margin-bottom: 40px;
    background-color:#ffffff;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.guidelines  h2,.guidelines p{
    background-image: linear-gradient(45deg, #c93e8f, #5a5bbf, #1a8b9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.guidelines p {
    font-weight: 400;
}
.guidelines h2{
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 400;
}
.qs-div .text{
    font-size: 3rem;
    padding: 30px;
}

/* quiz page  */

.manage-items{
    padding: 80px 70px 78px;
    border-radius: 10px;
    background-color: #F8F9FA;
    backdrop-filter: blur(80px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    color: black;
    height: auto;
    text-align: center;
    width: fit-content;
    position: relative;
    z-index: 1;
}

.quiz-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* manage questions page for editing and adding forms */

.form-group{
    margin: 20px 0;
}
.form-group button{
    margin-top: 20px;
}

.question-buttons{
    padding-bottom: 50px;
}

/* populate page */

.populate-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* quiz page */

.question-block {
    background-color: white;
    padding: 25px 15px 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question-block h3{
    margin-bottom: 30px;
    font-size: 1.6rem;
}
.quiz-container{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.quiz-container > h2{
    margin: 20px 0 50px 0;
}
.radio-group{
    margin: 6px 0;
}
.radio-group p {
    display: inline-block;
    margin-left: 10px;
}
.quiz-form{
    padding: 10px 0;
}

/* result page */

.result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.score-card{
    height: 50%;
    width: 40%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.score-card > p {
    font-size: 5.5rem;
}
.cat{
    width: 200px;
    position: absolute;
    top: 15%;
    right: auto;
    left: auto;
}
.score{
    background-image: linear-gradient(45deg, #EF89B8, #706085, #171F46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 968px){
    .score-card{
        width: 400px;
    }
}

/* CSS for button in the result page*/
.button-23 {
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, #EF89B8, #706085, #171F46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
.result-button{
    position: absolute;
    top: 560px;
}

/* leaderboard page and history page*/

.lb-section{
    margin-top: 50px;
    
}
.lb-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lb-container h1{
    font-size: 2.5rem;
    margin: 0 0 60px 0;
    background-image: linear-gradient(45deg, #b32578, #4647ad, #137b8b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lb-container h2{
    color: #023a36;
    margin-bottom: 30px;
}
.lb-container h3{
    margin-top: 15px;
    color: #112D4E;
}
.lb-container table{
    margin-bottom: 30px;
}
.lb-table{
    text-align: center;
    width: 60%;
}
.lb-hr{ 
        border: 0;
        border-top: 2px;
        border-style:solid;
        width: 60%;
        margin: 60px 0;
        color: #37326b;
}
@media (max-width: 968px){
    .lb-table{
        text-align: center;
        width: 90%;
    }
}
.table-head{
    background-image: linear-gradient(45deg, #b32578b9, #4648adb7, #137b8bb2);
    color: #F2EFEA;
}
.msg-info{
    width: 100%;
    background-image: linear-gradient(45deg, #b32578, #4647ad, #137b8b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}