body {
    background: linear-gradient(-45deg, #ffcd90, #9cdcf3, #cef8a3);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite; /* Slowed down animation */
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-link {
    color: #112D4E;
    font-size: 1.2rem;
    font-weight: 600;
    background-image: linear-gradient(45deg, #2C4C76, #3F72AF, #2588ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.nav-link:hover {
    color: #3F72AF;
}
#home{
    height: 100vh;
}
.brand {
    color: #112D4E;
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    background-image: linear-gradient(45deg, #c93e8f, #5a5bbf, #1a8b9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Quizzify{
    font-size: 3rem;
    font-weight: bold;
    background-image: linear-gradient(45deg, #ff6ec4, #7873f5, #32b8da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-text > h1 {
    margin-bottom: 1.8rem;
}
.home-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
} */
.home-img{
    width: 60%;
}
.home-buttons a {
    text-decoration: none;
    color: #111;
}
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
    display: inline-block;
}

.button-56:active {
  background-color: #ffdeda;
    display: inline-block;
  outline: 0;
}

.button-56:hover {
  outline: 0;
    display: inline-block;
}

.home-buttons {
    display: inline-block;
    width: 100%;
}

/* #home{
    display: flex;
    justify-content: center;
    align-items: center;
} */
@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

#Features{
    height: 100vh;
}

/* About */
#About{
    background-color: #112D4E;
}

.about{
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-rows: 100%;
}

.main-about{
    color: #F9F7F7;
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    padding: 4% 5%;
}

.about-img{
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img > img {
    width: 55%;
}


@media (max-width: 868px) {
    #home{
        height: fit-content;
        margin: 0 5%;
    }
    .home-img{
        display: none;
    }
    .home-buttons{
        margin-top: 1.2rem;
    }
    .home-text >  h1{
        margin-bottom: 1rem;
    }
    .home-text > p {
        opacity: 80%;
    }
    .home-container{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Features{
        height: fit-content;
    }
    /* about */
    .about{
        height: 60vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #112D4E;
        grid-template-rows: 100%;
    }

    .main-about{
        order: 2;
        color: #112D4E;
        grid-column: span 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
    }
    
    .about-img{
        order: 1;
        grid-column:  1 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img > img {
        width: 100%;
    }
}

@media (min-width: 868px) and (max-width: 992px){
    #home{
        height: fit-content;
        margin: 0 5%;
    }
    #Features{
        height: fit-content;
    }
}
/* signup */

.form-sl{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ls-page{
    height: 100vh;
}
.ls-card{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ls-items{
    padding: 60px;
    border-radius: 10px;
    background:linear-gradient(-45deg, #ffcd90, #9cdcf3, #cef8a3);
    backdrop-filter: blur(80px); /* Blur effect */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    color: black; /* Text color */
    height: fit-content;
}
.ls-items h3{
    margin-bottom: 2rem;
    color: #4943ff;
    text-align: center;
}
.ls-items p{
    margin: 0;
    padding: 0;
}

.ls-input{
    width: 18rem;
    border: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    border-radius: 6px;
    border-color: #1a8b9d;
    padding: 5px;
    margin: 4px 0;
    size: 40;
}
.ls-input:hover{
    background-color: #8a9db3;
    border: 0;
}
.ls-button{
    width: 18rem;
    border: 0;
    margin-top: 20px;
    padding: 8px 14px;
    border-radius: 8px;
    background-color:#64d4fd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color:#ffffff;
    color: black;
}
.ls-button:hover{
    border-color:black;
    background-color:#2185aa;
    color:#ffffff;
}

@media (max-width: 868px){
    .ls-items{
        width: fit-content;
    }
    .ls-input{
        width: 14rem;
        border: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #ffffff;
        border-radius: 6px;
        border-color: #1a8b9d;
        padding: 5px;
        margin: 4px 0;
        size: 40;
    }
    .ls-button{
        width: 14rem;
        border: 0;
        margin-top: 20px;
        padding: 8px 14px;
        border-radius: 8px;
        background-color:#64d4fd;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-color:#ffffff;
        color: black;
    }
}

.flash{
    color: tomato;
    text-align: center;
    padding-top: 3rem;
}

/* Dashboard Page */
.db-body{
    background-color:#ffd19a;
    background-image: none;
}

.db-brand {
    color: #ffffff;
    font-size: 2.2rem;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(144deg,#ff0040, #763bff 50%,#ff31ff);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.db-nav-link {
    color:  #003366;
    font-size: 1.5rem;
    margin-left: 5rem;
    font-weight: 600;
    text-decoration: none;
}
.db-nav-item{
    margin-top: 3%;
}
.db-home{
    height: 90vh;
}
.db-home-img-student{
    margin-top: 15%;
    margin-left: 15%;
    width: 650px;
}
.db-intro{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.db-home-text, .db-home-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #112D4E;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
}

/* CSS For the button*/
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 2rem;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}