{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi {{(current_user.name).split(" ")[0].title()}}</title>
    <link
      rel="shortcut icon"
      href="static/images/fav.png"
      type="image/x-icon"
    />
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css" />
    
  </head>
  <body class="db-body">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
      <div class="container">
        <a class="navbar-brand brand" href="{{url_for('home')}}">Quizzify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- Change 'me-auto' to 'ms-auto' -->
            <li class="db-nav-item">
              <a class="nav-link" href="{{url_for('leaderboard')}}">Leaderboard</a>
            </li>
            <li class="db-nav-item">
              <a class="nav-link" href="{{url_for('history')}}">History</a>
            </li>
            <li class="db-nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="db-home container">
        <div class="db-intro">
            <div class="db-home-text">
                <h2>Hello {{(current_user.name).split(" ")[0].title()}}</h2>
                {% if current_user.id == 1%}
                <p style="width: 85%;">Are you set to host an exciting quiz? <br>Select a category, get started, and see which contestant rises to the occasion!</p>
                {% else %}
                <p style="width: 85%;">Ready to test your trivia skills? <br>Choose a category, dive in, and see how you stack up!</p>
                {% endif %}
                <a href="{{url_for('category')}}"><button class="button-64" role="button"><span class="text">Take Your Quiz Now 🧠</span></button></a>
                {% if current_user.id == 1%}
                  <a href="{{url_for('manage')}}" class="category-link" ><button class="button-64" role="button"><span class="text">Manage Categories & Questions 🛠️</span></button></a>
                  {% if quizzes %}
                  <form action="{{ url_for('delete_quiz') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete all quizzes?');">
                    <button class="button-64" role="button" type="submit"><span class="text">Clear All Quizzes ⚠️</span></button>
                  </form>
                  {% endif %}
                {% endif %}
            </div>
            <div class="db-img">
                <img src="{{ url_for('static',filename='/images/brain.gif')}}" alt="brain taking pull ups" class="db-brain">
            </div>
        </div>
    </section>
    {{ bootstrap.load_js() }}
  </body>
</html>
