{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link
      rel="shortcut icon"
      href="static/images/fav.png"
      type="image/x-icon"
    />
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <section class="ls-page">
      <div class="ls-card">
        
        <div class="ls-items log-in">
          <img src="{{url_for('static',filename='images/think.png')}}" alt="thinking person illustration" class="think">
          <a class="brand" href="{{url_for('home')}}">Quizzify</a>
          <p class="info">Log in to access your quiz dashboard</p>
          <form action="{{url_for('login')}}" class="ls-form" method="POST">
              {{ form.csrf_token }}
              <p>{{ form.email(placeholder="Email", class='ls-input')}}</p>
              <p>{{ form.password(placeholder="Password", class='ls-input')}}</p>
              <button class="button-85" role="button">Log in</button>
          </form>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p class="flash">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <img src="{{url_for('static',filename='images/point-2.png')}}" alt="a girl pointing to login form" class="point-2">
        </div>
        
      </div>
    </section>
  </body>
</html>
