<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Go</title>
    <link
    rel="shortcut icon"
    href="static/images/fav.png"
    type="image/x-icon"
    />
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
    <nav class="quiz-nav nav container">
        <a class="brand" href="{{url_for('home')}}">Quizzify</a>
        <p>{{current_user.name.title()}}</p>
    </nav>
</body>
</html>