<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Questions</title>
    <link
    rel="shortcut icon"
    href="static/images/fav.png"
    type="image/x-icon"
    />
    {{ bootstrap.load_css() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body class="questions-body">
    <nav style="text-align: center;">
        <a class="manage-brand" href="{{url_for('home')}}">Quizzify</a>
    </nav>
    <div class="container">
        <h2 style="margin: 40px 0; font-weight: 600;">{{ category.category_name }}</h2>
        {%if category.questions:%}
        <div class="question-table">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Question</th>
                        <th scope="col" class="ps-4">Options</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                {%for question in category.questions: %}
                <tr>
                    <td scope="row">{{ loop.index }}</td>
                    <td>{{question.question_text}}</td>
                    <td><ol>
                            {% for option in question.options %}
                                {% if option.is_correct: %}
                                    <li style="color: green;" class="options" style="list-style-type: none;">{{option.option_text}}</li>
                                {% else %}
                                    <li style="color: red;" class="options" style="list-style-type: none;">{{option.option_text}}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </td>
                    <td><a href="{{url_for('show_question', question_id = question.id, category_id = category.id)}}" class="delete-button">🔗</a></td>
                    <td><a href="{{url_for('delete_question', question_id = question.id, category_id = category.id)}}" class="delete-button">❌</a></td>
                </tr>
                {%endfor %}
            </table>
        </div>
        {%else: %}
            <h3 style="margin: 50px 0;">Uh-oh! This category is on a question diet! 🥳❓</h3>
        {%endif%}
        <div class="question-buttons">
            <a href="{{ url_for('add_question', category_id = category.id) }}" class="link-underline-opacity-0" style="text-decoration: none;">
                <button type="button" class="button-56 mt-sm-4">Add Question</button>
            </a>
            <a href="{{ url_for('auto_populate', api_id = category.api_id) }}" class="link-underline-opacity-0" style="text-decoration: none;">
                <button type="button" class="button-56 mt-sm-4">Auto Populate</button>
            </a>
            <a href="{{ url_for('manage') }}" class="link-underline-opacity-0" style="text-decoration: none;">
                <button type="button" class="button-56 mt-sm-4">Category Page</button>
            </a>
        </div>
    </div>
</body>
</html>