{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    <link
      rel="shortcut icon"
      href="static/images/fav.png"
      type="image/x-icon"
    />
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <section class="ls-page">
      <div class="ls-card">
        <div class="ls-items sign-div">
          <img src="{{url_for('static',filename='images/pointing.png')}}" alt="" class="pointing">
          <a class="brand" href="{{url_for('home')}}">Quizzify</a>
          <p class="info" style="font-size: 2rem;">Get started</p>
          <p class="info">Sign up to unlock your quiz potential</p>
          <form action="{{url_for('signup')}}" class="ls-form" method="POST">
              {{ form.csrf_token }}
              <p>{{ form.username(placeholder="Full Name", class='ls-input sign-form')}}</p>
              <p>{{ form.email(placeholder="Email", class='ls-input sign-form')}}</p>
              <p>{{ form.password(placeholder="Password", class='ls-input sign-form')}}</p>
              <p>{{ form.confirm(placeholder="Confirm Password", class='ls-input sign-form')}}</p>
              <button class="button-85">Sign Up</button>
          </form>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p class="flash">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% if form.password.errors %}
              {% for error in form.password.errors %}
                <p class="flash">{{ error }}</p>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
  </body>
</html>
